<div id="wrapper">
  <div ng-include src="'views/nav.html'"></div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="./#consumedservices/">Konsumierte Dienstleistungen</a>
            </li>
          </ol>
          <h1 class="page-header">
            Konsumierte Dienstleistungen
          </h1>
          <!-- ############################################################################### -->
          <form class="navbar-form">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#consumeServiceModal">
              <i class="fa fa-plus"></i> Neuen Dienst konsumieren
              </button>
              <div class="input-group pull-right">
                <div class="pull-right">
                  <input type="text" class="form-control" placeholder="Search" name="q" ng-model="consumedservicesfilter">
                </div>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
                <button type="button" class="btn btn-default pull-right" ng-click="updateView()"><i class="glyphicon glyphicon-refresh"></i>
                </button>
              </div>
            </form>
            <div class="table-condensed table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>
                      <a ng-click="orderByField='id'; reverseSort = !reverseSort">
                        K.D.Nr. &nbsp;
                        <span ng-show="orderByField == 'id'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                        </span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='service'; reverseSort = !reverseSort">
                        Dienstleistung &nbsp;
                        <span ng-show="orderByField == 'service'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                        </span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='customer'; reverseSort = !reverseSort">
                        Kunde &nbsp;
                        <span ng-show="orderByField == 'customer'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                        </span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='invoice'; reverseSort = !reverseSort">
                        Rechnung &nbsp;
                        <span ng-show="orderByField == 'invoice'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                        </span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='consumed'; reverseSort = !reverseSort">
                        Einheiten Konsumiert &nbsp;
                        <span ng-show="orderByField == 'consumed'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                        </span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='date_consumed'; reverseSort = !reverseSort">
                        Datum &nbsp;
                        <span ng-show="orderByField == 'date_consumed'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                        </span>
                      </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="consumedService in consumedServices | orderBy:orderByField:reverseSort | filter:consumedservicesfilter">
                    <td>{{ consumedService.id }}</td>
                    <td>
                      <a href="#consumedservices/{{consumedService.service.id}}/">
                        {{ consumedService.service.name }}
                      </a>
                    </td>
                    <td>
                      <a href="#customers/{{ consumedService.customer.id }}">
                        {{ consumedService.customer.first_name }} {{ consumedService.customer.last_name }}
                      </a>
                    </td>
                    <td>
                      <a href="#invoices/{{ consumedService.invoice }}">
                        {{ consumedService.invoice}}
                      </a>
                    </td>
                    <td>
                      {{ consumedService.consumed }}
                      <span ng-show="consumedService.service.billing_type == 'HR'">
                        Stunde(n)
                      </span>
                      <span ng-show="consumedService.service.billing_type == 'FR'">
                        Einheit(en)
                      </span>
                    </td>
                    <td>
                      {{ consumedService.date_consumed }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <!-- ############################################################################### -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!--Consume Service Modal -->
<div class="modal fade" id="consumeServiceModal" tabindex="-1" role="dialog" aria-labelledby="consumeServiceModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Konsumierte Dienstleistung hinzuf&uuml;gen</h4>
      </div>
      <div class="modal-body">
        <form name="formNewConsumedService" class="form-horizontal" role="form">
          <!-- Dienstleistung -->
          <div class="form-group">
            <label for="service" class="col-sm-3 control-label">
              Dienstleistung
            </label>
            <div class="col-sm-9">
              <select class="form-control" name="service" id="service" ng-model="newConsumedService.service" ng-options="service.name for service in services" required>
              </select>
              <span class="text-danger" ng-show="formNewConsumedService.service.$valid == false">Dieses Feld ist erforderlich</span>
            </div>
          </div>
          <!-- Kunde -->
          <div class="form-group">
            <label for="customer" class="col-sm-3 control-label">
              Kunde
            </label>
            <div class="col-sm-9">
              <select class="form-control" name="customer" id="customer" ng-model="newConsumedService.customer" ng-options="customer.last_name + ' ' + customer.first_name for customer in customers" required>
              </select>
              <span class="text-danger" ng-show="formNewConsumedService.customer.$valid == false">Dieses Feld ist erforderlich</span>
            </div>
          </div>
          <hr />
          <!-- Konsumierte Stunden -->
          <div class="form-group" ng-show="newConsumedService.service.billing_type == 'HR'">
            <label for="billing_type" class="col-sm-3 control-label">
              Konsumierte Stunden
            </label>
            <div class="col-sm-9">
               <input type="text" class="form-control input-sm" name="consumed" id="consumed" placeholder="Bitte geben Sie die Anzahl der zu verrechnenden Stunden ein" ng-model="newConsumedService.consumed" required />
              <span class="text-danger" ng-show="formNewConsumedService.consumedHours.$valid == false">Dieses Feld ist erforderlich</span>
            </div>
          </div>
          <!-- Rechnung -->
          <div class="form-group">
            <label for="invoice" class="col-sm-3 control-label">
              Rechnung
            </label>
            <div class="col-sm-9">
               <select class="form-control" name="invoice" id="invoice" ng-model="newConsumedService.invoice" ng-options="invoice.id + ' ' + invoice.exhibition_date for invoice in invoices">
              </select>
            </div>
          </div>
          <!-- Datum-->
          <div class="form-group">
            <label for="date" class="col-sm-3 control-label">
              Datum
            </label>
            <div class="col-sm-9">
              <input type="date" class="form-control input-sm" name="date" id="date" ng-model="newConsumedService.date" required />
              <span class="text-danger" ng-show="formNewConsumedService.date.$valid == false">Dieses Feld ist erforderlich</span>
            </div>
          </div>
          <!-- Uhrzeit -->
          <div class="form-group">
            <label for="time" class="col-sm-3 control-label">
              Uhrzeit
            </label>
            <div class="col-sm-9">
              <input type="time" class="form-control input-sm" name="time" id="time" ng-model="newConsumedService.time" required />
              <span class="text-danger" ng-show="formNewConsumedService.time.$valid == false">Dieses Feld ist erforderlich</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        Schließen
        </button>
        <button ng-show="verifyNewConsumedServiceInput() == true" type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="createNewConsumedService(newConsumedService)">
        Hinzuf&uuml;gen
        </button>
        <button ng-hide="verifyNewConsumedServiceInput() == true" type="submit" class="btn btn-disabled" data-dismiss="modal" disabled="disabled">
        Hinzuf&uuml;gen
        </button>
      </div>
    </div>
  </div>
</div>


